body{
    background-color: black;
    color: #09f;
    font-family:"Century Gothic";
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

#pointer{
    position: absolute;
    border-radius: 50%;
    border: 35px solid lime;
    background-color: green;
    width:100px;
    height: 100px;
    z-index: 100;
}

h1{
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.5em;
}

.container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.box{
    display: flex;
    border: #09f solid 1px;
    color:black;
    width:7vw;
    height:7vw;
    font-size:4vw;
    background-color: #09f; 
    transition:  background-color 1s ease-in-out;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .box{
        width:10vw;
        height:10vw;
        font-size: 8vw;
    }

}


.selected{
    background-color: magenta;
}

